#head{
    font-family: Helvetica;
     font-size: 40px;
    
}


body{
    font-family: Helvetica;
    background: #999;
    font-weight: bold;
}


#frame{
    color: darkgrey;
    font-family: Helvetica;
    font-size: 18px;
    border: solid gray 1px;
    width: 25%;
    border-radius: 5px;
    margin: 40px auto;
    background: white;
    padding: 10px;
}

#btn{
    font-family: Helvetica;
    color: #fff;
    background: #337ab7;
    padding: 5px;
    margin-left: 70%;
}

